.switchers {
  @include clearfix;
  float: left;
}

.back-home {
  height: 30px;
  width: 100%;
  font-size: 18px;
  color: #333;
  border: 0;
  background: white;
  border-radius: 0;
  margin-bottom: 15px;
}